.top{font-family: 'Amatic SC', cursive; font-size: 50px;text-align: center; color: white
 }
 body{background-attachment:fixed; 
 	 background-repeat: no-repeat;   
 }
.dope{text-align: center;
 	 font-family: 'Lobster', cursive;
 	 font-size: 30px;
 	 color: pink;
 	 background-color:white;
	
 	
 }
img{align-content: center;
align-items:center; height: 300px; width:300px;
}
img:hover{transform: translateY(-30px);
	-webkit-transition:1s;
margin-top:20px; 


     

}
